.Page {
    background: #FFF;
    color: #333;
    padding: 1em 2em;
    margin: 60px auto 3em auto;
    max-width: 540px;
}

@media (max-width: 566px) {
    .Page {
        margin-left: 1em;
        margin-right: 1em;

    }
}
